<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>
        Aplikasi Cuaca
    </title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>Aplikasi perkiraan cuaca sederhana menggunakan Node.js</p>

    <form>
        <input placeholder="Masukkan Lokasi">
        <button>Cari</button>
    </form>
    <p id="message-1">

    </p>
    <p id="message-2">

    </p>
</div>

{{>footer}}
</body>
<script src="/js/app.js"></script>

</html>